version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
 
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # We update this to allow connections from other containers AND your laptop
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://127.0.0.1:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
 
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fraud_db
    ports:
      - "6543:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # --- NEW PYTHON SERVICES ---
  
  producer:
    build: .
    command: python src/producer.py
    depends_on:
      - kafka
    environment:
      # Inside Docker, we talk to 'kafka' on port 29092, not localhost
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092

  detector:
    build: .
    command: python src/detector.py
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      # We will need to update the script to read this ENV variable, 
      # but for now, we will just let it run.
 
volumes:
  pgdata: